/DProject/nbproject/private/
/DProject/DProject-war/nbproject/private/
/DProject/DProject-ejb/nbproject/private/
/DProject-jdbc/nbproject/private/
/DProject-jdbc/build/
/DProject-RI/nbproject/private/
/DProject-RI/build/
/DProject/DProject-ejb/build/
/DProject/DProject-war/build/
/DProject-RI/dist/
/DProject/DProject-ejb/dist/
/DProject/build/
/DProject/DProject-war/dist/
/DProject/dist/